@inherits LayoutComponentBase
@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <FluentMessageBarProvider />
</div>
*@
<FluentLayout Style="height: 100%">

    <FluentHeader>Fukuoka .NET Conf 2023</FluentHeader>
    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Style="height:stretch">
        <NavMenu />
        <FluentBodyContent>
            <ChildContent>
                @Body
            </ChildContent>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter Style="bottom:auto;position:fixed;">
        Fukuoka .NET Conf 2023 2024/2/3
    </FluentFooter>
    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <FluentMessageBarProvider />
</FluentLayout>